@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;

}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background-color: rgb(23, 187, 216);    
}

.container {
    width: 420px;
    background: whitesmoke;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20);
    padding: 20px;
    border-radius: 1em;
}

.container h1 {
    font-size: 3rem;
    text-align: center;
}

.container .input-section {
    text-align: center;
    width: 100%;
    height: 10vh;
    margin: 30px 0;
}

.input-section input {
    width: 100%;
    border: none;
    height: 100%;
    outline: none;
    font-size: 1em;
    border-radius: 2em;
    padding: 2em;
}

.input-section input::placeholder {
    color: black;
}

.container .forgot-section {
    text-align: center;
    margin: 1em;
    font-weight: 500;
}

.forgot-section a {
    text-decoration: none;
}


.forgot-section a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.container .btn {
    width: 100%;
    color: aliceblue;
    height: 50px;
    border: none;
    background: rgb(0, 0, 0);
    border-radius: 1em;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500
}

.btn:hover {
    transition: all 0.3s ease-in-out;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.container .register-link {
    font-size: 1em;
    text-align: center;
    margin: 1em;
}

.register-link a {
    font-weight: 500;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
    color: grey;
    text-underline-offset: 5px;
}

h4 {
    text-align: center;
    margin: 1em;
}